js/test.js

java*/org/*
java*/json-simple-1.1.1.jar
java*/Test.java
java*/Test.class
.idea
anagram-example.iml

**/__pycache__/*
python/test.py
python/*.pyc
python/.pytest.cache

kotlin/test.kt
kotlin/anagram.jar
kotlin/exp/*

php/test.php

share/anagrams.db
share/dictionary.html
